html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
  background-color: $background;
}

* {
  color: $dark-grey;
  line-height: $font-height;
  font-family: Poppins, sans-serif;
}

.main-content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 100px);

    .content {
        width: 100%;
        transition: width .3s;
        padding: 1rem 2rem;

        &.sidebar-open {
            width: calc(100% - 200px);
        }
    }
}
